
/* GENERAL */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	width: 100%;
	top: 0;
}

#app {
	padding: 5rem;
	position: relative;
	min-height: 100vh;
	overflow-y: auto;
	z-index: 100;
}

.content {
	position: relative;
	z-index: 1;
}

.title {
	font-family: "Brush Script MT", cursive;
	color: black;
	font-size: 2.5rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.background-image {
	background-image: url('../public/background/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.background-gradient {
	min-height: 100vh;
	width: 100%;
	background: #C3E5D4;
}

/* MAIN CARD */

.main-card {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2ec58e;
	color: black;
	/* padding: 20px; */
	border-radius: 10px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.profile-card {
	max-width: 1000px;
}

.card-body {
	padding: 5rem;
}

.profile-card-body {
	padding: 1rem;
}

/* SCORE CARD */

.scorecard-card {
	background-color: #2ec58e;
	border: 0;
}

.custom-score, .custom-vs {
	background-color: #C3E5D4;
	color: #000000;
}


/* FORM */

.form-input, .form-input:focus {
	background-color: #2ec58e;
	border: 3px solid black;
	color: black;
}

.form-input:focus {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.form-input::placeholder {
	color: rgb(61, 59, 59); /* Lighter white for placeholder text */
}

/* BUTTON */

.btn {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-setting {
	background-color: #2ec58e;
	color: black;
	border: 3px solid #000000;
	font-weight: bold;
	border-radius: 20px;
}

.btn-setting.active, .btn-setting:hover {
	background-color: black;
	color: white;
	border: 3px solid #000000;
	/* color: #2ec58e; */
}

.btn:hover, .btn.active {
	background-color: black;
	color: white;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.btn.active:hover {
	background-color: black;
	color: white;
}

.settings-group {
	text-align: center;
}

.settings-group .btn-container {
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

/* ACTION BUTTON */

.btn-action {
	width: 150px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* GAME MODE BUTTONS */

.btn-group-game-mode .btn-game-mode {
	width: 125px;
	height: 75px;
	text-wrap: wrap;
}

/* Links */

.link {
	color: rgba(0, 26, 255, 0.7);
	text-decoration: none;
}

.link:hover { 
	text-decoration: underline;
}

/* PROFILE VIEW */

.player-input-fields {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.settings-input-fields {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}


/* PROFILE VIEW */

.status-item {
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	gap: 0.5rem;
}

/* NOTIFICATIONS */

.notification {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	padding: 16px;
	border-radius: 12px;
	background-color: #4CAF50;
	transition: top 0.5s ease;
	z-index: 1000;
	width: 300px;
	text-align: center;
	max-width: 90%;
	box-sizing: border-box;
}

.notification.show {
	top: 10px;
}

.notification.error {
	background-color: #f44336;
}

#notification-message {
	margin: 0;
	word-wrap: break-word;
}