<div class="container mt-5">
	<div class="main-card" style="max-width: 1000px;">
		<div class="card-body">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-5 text-center mb-4 mb-md-0">
					<img src="../public/404/elephant_sad.png" alt="Sad Elephant" class="img-fluid" style="max-width: 300px;">
				</div>
				<div class="col-md-5">
					<h2 class="text-center mb-2 mt-2 display-1 fw-bold" style="font-size: 4.5rem;">404</h2>
					<h2 class="text-center fs-4 fw-bold">Ele can't find what you are looking for... :(</h2>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12 text-center">
					<a id="goHomeButton" href="/" class="btn btn-action fw-bold mt-3 mt-md-5">Go Home</a>
				</div>
			</div>
		</div>
	</div>
</div>