<!-- GAME VIEW -->
<div id="gameView" class="container">

    <!-- CURRENT MATCH INFO -->
    <div class="row">
        <div class="col-12">
            <h1 id="playerInfo"></h1>
        </div>
    </div>

    <!-- GAME CANVAS -->
    <div class="row mb-3">
      <div class="col-12 text-center">
        <canvas id="gameCanvas" class="img-fluid rounded" width="1000" height="500"></canvas>
      </div>
    </div>
    
    <!-- TORUNAMENT INFO -->
    <div class="container-fluid px-0" style="max-width: 1000px;">
        <div class="row g-3">
            
            <!-- MATCHES INFO -->
            <div class="col-md-6">
                <div id="tournamentInfoMatches" class="card rounded">
                    <div class="card-header bg-dark text-white text-center rounded-top">
                        <h5 class="mb-0">Matches</h5>
                    </div>
                    <div class="card-body rounded-bottom"></div>
                </div>
            </div>

            <!-- STANDINGS -->
            <div class="col-md-6">
                <div id="tournamentInfoStandings" class="card rounded">
                    <div class="card-header bg-dark text-white text-center rounded-top">
                    <h5 class="mb-0">Standings</h5>
                </div>
                <div class="card-body rounded-bottom"></div>
            </div>
            </div>
        </div>
    </div>
</div>