<div class="container"></div>
	<h2 class="text-center mb-4 fs-1 fw-bold">Your Tournament</h2>
	<!-- TOURNAMENT INFO -->
	<div class="container-fluid px-0" style="max-width: 1000px;">
		<div class="row g-3">
			
			<!-- FIXTURES -->
			<div class="col-md-6">
				<div id="fixtures" class="card rounded">
					<div class="card-header bg-dark text-white text-center rounded-top">
						<h5 class="mb-0">Fixtures</h5>
					</div>
					<div class="card-body rounded-bottom"></div>
				</div>
			</div>

			<!-- STANDINGS -->
			<div class="col-md-6">
				<div id="standings" class="card rounded">
					<div class="card-header bg-dark text-white text-center rounded-top">
					<h5 class="mb-0">Standings</h5>
				</div>
				<div class="card-body rounded-bottom p-0">
					<div class="table-responsive">
						<table class="table table-striped mb-0 text-center">
							<thead>
								<tr>
									<th>Rank</th>
									<th>Name</th>
									<th>Wins</th>
									<th>Losses</th>
									<th>Points</th>
								</tr>
							</thead>
							<tbody id="standingsTable"></tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>