<div id="gameView" class="container">

	<!-- CURRENT MATCH INFO -->
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="fw-bold">Online Game</h1>
		</div>
	</div>

	<!-- GAME CANVAS -->
	<div class="row mb-3">
		<div class="col-12 text-center">
			<canvas id="gameCanvas" class="img-fluid" width="800" height="400"></canvas>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div id="scoreCard">
				<div class="container px-0" style="max-width: 1000px;">
					<div class="card mb-3">
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center flex-wrap">
								<span class="h5 mb-0 me-2" id="scorecard-p1name"></span>
								<span class="badge bg-primary fs-6 me-2" id="scorecard-p1score"></span>
								<span class="badge bg-secondary fs-6 mx-2">VS</span>
								<span class="badge bg-primary fs-6 ms-2" id="scorecard-p2score"></span>
								<span class="h5 mb-0 ms-2" id="scorecard-p2score"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>