<div id="registrationView" class="login-container">
	<div class="main-card" style="max-width: 600px;">
		<div class="card-body">
			<h2 class="text-center mb-4 fs-1 fw-bold">Sign Up</h2>
			<form id="registrationForm" autocomplete="off">
				<div class="mb-4">
					<input type="text" class="form-control form-input" id="first_name_registration" placeholder="First Name (optional)">
				</div>
				<div class="mb-4">
					<input type="text" class="form-control form-input" id="last_name_registration" placeholder="Last Name (optional)">
				</div>
				<div class="mb-4">
					<input type="text" class="form-control form-input" id="username_registration" placeholder="Username" required>
				</div>
				<div class="mb-4">
					<input type="email" class="form-control form-input" id="email_registration" placeholder="Email" required>
				</div>
				<div class="mb-4">
					<input type="password" class="form-control form-input" id="password_registration" placeholder="Password" required>
				</div>
				<div id="registrationError" class="text-danger mb-3" style="display: none;"></div>
				<div class="mt-4 text-center">
					<div class="text-center">
						<button type="submit" class="btn">Sign Up</button>
					</div>
				</div>
			</form>
			<div class="mt-4 text-center">
				<p class="mb-0">Already have an account? <a href="#" id="showLogin" class="link">Login</a></p>
			</div>
		</div>
	</div>
</div>