<div id="registrationView" class="registration-container">
	<div class="main-card">
		<div class="card bg-dark text-white">
			<div class="card-body">
				<h2 class="text-center mb-4">Sign Up</h2>
				<form id="registrationForm">
					<div class="mb-4">
						<input type="text" class="form-control register-input" id="first_name_registration" placeholder="First Name (optional)">
					</div>
					<div class="mb-4">
						<input type="text" class="form-control register-input"" id="last_name_registration" placeholder="Last Name (optional)">
					</div>
					<div class="mb-4">
						<input type="text" class="form-control register-input"" id="username_registration" placeholder="Username" required>
					</div>
					<div class="mb-4">
						<input type="email" class="form-control register-input"" id="email_registration" placeholder="Email" required>
					</div>
					<div class="mb-4">
						<input type="password" class="form-control register-input"" id="password_registration" placeholder="Password" required>
					</div>
					<div id="registrationError" class="text-danger mb-3" style="display: none;"></div>
					<div class="text-center">
						<button type="submit" class="btn btn-light">Sign Up</button>
					</div>
				</form>
				<div class="mt-4 text-center">
					<p class="mb-0">Already have an account? <a href="#" id="showLogin" class="text-white-50">Login</a></p>
				</div>
			</div>
		</div>
	</div>
</div>