<div id="twoFactor" class="twoFactorContainer">
	<div class="main-card" style="max-width: 600px;">
        <div class="card-body">
            <h2 class="text-center mb-4 fs-1 fw-bold">Two Factor Authentication</h2>
            <p class="text-center mb-4">Please enter the code sent to your email address.</p>
            <div class="mb-4">
                <input type="text" class="form-control form-input" id="twoFactorCode" placeholder="Code">
            </div>
            <div id="twoFactorError" class="text-danger mb-3" style="display: none;"></div>
            <div class="mt-4 text-center">
                <div class="text-center">
                    <button id="twoFactorSubmit" class="btn">Submit</button>
                </div>
            </div>
        </div>
</div>